*
!*/
!fish/**
!.i3/**
!rofi/**
!flashfocus/**
!dunst/**
!nvim/init.vim
!wal/**
!termite/**
!picom.conf
!.Xresources.*
!.gitignore
!.imwheelrc
!i3status/**
!virt-manager/*
*private.fish
*.netrwhist
discord/
fish/private
