! ^ The above lines are no comments!
! Leave them as they are if a file ~/.extend.Xresources is being used on your system.
! config can be added there or also here below.
! For comments use !


# Normal DPI
Xft.dpi:	100

# HiDPI
#Xft.dpi:	140

Xft.antialias:  true
Xft.autohint:   false
Xft.hinting:    true
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

