! ^ The above lines are no comments!
! Leave them as they are if a file ~/.extend.Xresources is being used on your system.
! config can be added there or also here below.
! For comments use !


Xft.dpi:        110
Xft.antialias:  true
Xft.autohint:   false
Xft.hinting:    true
Xft.hintstyle:  hintfull
Xft.lcdfilter:  lcddefault
Xft.rgba:       rgb

URxvt.font:         xft:Source Code Pro:pixelsize=17:style=Regular:antialiasing=true,hinting=slight,xft:Symbola
URxvt.boldFont:         xft:Source Code Pro:pixelsize=17:style=Bold:antialiasing=true,hinting=slight,xft:Symbola
URxvt.xftAntialias: true

URxvt.termName:          rxvt-unicode
URxvt.imLocale:          en_US.UTF-8
URxvt.saveLines:         1058575
URxvt.internalBorder:    0

URxvt.perl-ext-common:  default,matcher
URxvt.urlLauncher:      /usr/bin/google-chrome-stable
URxvt.matcher.button:   1
URxvt.matcher.pattern.0: \\b((?:[a-z][-\\w]+:(?:\\/{1,3}|[a-z0-9%])|www\\d{0,3}[.]|[-a-z0-9.]+[.][a-z]{2,4}\\/)(?:[^\\s()<>]+|\\(([^\\s()<>]+|(\\([^\\s()<>]+\\)))*\\))+(?:\\(([^\\s()<>]+|(\\([^\\s()<>]+\\)))*\\)|[^\\s`!()\\[\\]{};:\047\042.,<>?«»“”‘’]))

URxvt.scrollBar: false
URxvt.jumpScroll: true
URxvt.skipScroll: true

! do not scroll with output
URxvt.scrollTtyOutput: false

! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
URxvt.scrollWithBuffer: true

! scroll back to the bottom on keypress
URxvt.scrollTtyKeypress: true

URxvt.depth: 32
URxvt.background:  [65]#000000
URxvt.foreground:  #d6d0f6
*color0:  #000000
*color1:  #d1165d
*color2:  #2a677c
*color3:  #e2b558
*color4:  #2a677c
*color5:  #e92092
*color6:  #31a8c0
*color7:  #d6d0f6
*color8:  #7d6984
*color9:  #d1165d
*color10:  #2a677c
*color11:  #e2b558
*color12:  #5bbacc
*color13:  #e92092
*color14:  #3ae6f0
*color15:  #d6d0f6
